.navbar {
  background-color: #e52525;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ecdbff;
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ecdbff;
}

hr {
  height: 15px;
  border: none;
  color: #d65752;
  background-color: #d65752;
  padding-top: 0px;
  margin: 0px auto;
}

.jumbotron {
  margin-bottom: 0px;
}
